header {
  height: 40vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.733), rgba(153, 58, 58, 0)),radial-gradient(#ffffff0d, black) ,url(../assets/headerBackground.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
      font-size: 5rem;
  }
}

.credits, .teachers, section{
  background: #c4c4c4;
}



.credits, .teachers, h1, h2{
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 40px;
  
 

  ul {
      width: 70%;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      
      

      li {
          list-style: none;

          a {
              text-decoration: none;
              color: goldenrod;
              padding: 20px;
              text-align: center;
              font-size: 2.5rem;
              text-transform: uppercase;
              transition: .3s;
              
          }
          a:hover {
            color: white;
        }

      }
  }
}



h2 {
  color: white;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0)
  );
  padding: 20px;
  
  

}
.creditContainer{
  margin: 0 auto;
  display: flex;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  }
// .credits .characterChoiceContainer{
//   justify-content: center;
//   margin: 12% 0 0 0;
//   align-content: center;
// }

.credits .card{
  margin: 30px auto;
}

//teachers section



.teachers .characterChoiceContainer{
  justify-content: center;

}

.teachers .card{
  margin: 20px auto;
  background-size: cover;
}
.teachers .imgWrap{
  height: 300px;
  padding: 50px 10px;

}

#teacher .imgWrap img {
  height: 90%;
  width: 100%;


}


// hamburger menu bar navigation

.hamburgerMenu{
  display: none;
  cursor: pointer;
  
  
}

.bar{
  transition: 0.5s;
  display: block;
  width: 35px;
  height: 5px;
  margin: 5px auto;
  background-color: goldenrod;
  border-radius: 10px;
  
}