//general typography 
html {
  font-size: 62.5%;
}

body, p {
  font-size: 1.8rem;
}

//font Styles

h1 {
  font-family: 'Cinzel', serif;
  
}

p {
  font-family: 'Playfair Display', serif;
}

button {
  font-family: 'Cinzel Decorative', cursive;
}

//font size

h1{
  font-size: 7rem;
  color: white;
  font-weight: 700;
}

.characterChoiceContainer p{
  font-size: 2rem;
}

.quote p, button {
  font-size: 3rem;
}





