html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body, p {
  font-size: 1.8rem;
}

h1 {
  font-family: "Cinzel", serif;
}

h2, h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

p {
  font-family: "Playfair Display", serif;
}

button {
  font-family: "Cinzel Decorative", cursive;
}

h1 {
  font-size: 7rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
}

.quote {
  line-height: 1.6;
  text-shadow: 2px 1px black;
}

.characterChoiceContainer p, footer p {
  font-size: 2rem;
}

.quote p, button {
  font-size: 3rem;
}

h1, h2, header, p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.quizSection, .credits, .teachers {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#25252500), to(#000000e0)), radial-gradient(#00000034, rgba(0, 0, 0, 0.938)), url(../assets/newBackground.png);
  background-image: linear-gradient(to top, #25252500, #000000e0), radial-gradient(#00000034, rgba(0, 0, 0, 0.938)), url(../assets/newBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
}

.transitionSect {
  background: black;
  min-height: 30vh;
}

button {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px black;
  width: 200px;
  height: 80px;
  padding: 10px;
  background: radial-gradient(#0b00007e, black), url(../assets/button.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
  border-style: outset;
  -webkit-box-shadow: 0px 15px 10px black;
          box-shadow: 0px 15px 10px black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.restartButton {
  width: 267px;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px black;
  height: 80px;
  padding: 20px 40px;
  background: radial-gradient(#0b00007e, black), url(../assets/button.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
  border-style: outset;
  -webkit-box-shadow: 0px 15px 10px black;
          box-shadow: 0px 15px 10px black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 30px auto;
}

button:hover, .restartButton:hover {
  border-style: inset;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(95%);
          transform: scale(95%);
  color: goldenrod;
  -webkit-box-shadow: 0px 5px 10px black;
          box-shadow: 0px 5px 10px black;
}

footer {
  text-align: center;
  width: 100%;
  background-image: url(../assets/headerBackground.jpg);
  list-style: none;
  background-size: cover;
  background-repeat: no-repeat;
}

footer p {
  padding: 20px;
  color: white;
}

footer a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: goldenrod;
}

footer a:hover {
  color: red;
  text-decoration: underline;
}

.indexHeader {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.733)), to(rgba(153, 58, 58, 0))), radial-gradient(#ffffff0d, black), url(../assets/headerBackground.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.733), rgba(153, 58, 58, 0)), radial-gradient(#ffffff0d, black), url(../assets/headerBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.indexHeader .wrapper {
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: white;
  text-shadow: 3px 3px black;
}

.indexHeader {
  text-align: center;
}

label {
  display: block;
}

form {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
form input[type=text] {
  background: rgba(0, 0, 0, 0.575);
  width: 100%;
  border-radius: 50px;
  padding: 20px;
  margin: 20px auto;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5rem;
}

span {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.mainQuote {
  font-style: italic;
  width: 100%;
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
  padding-bottom: 40px;
}

.quote {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.quote p {
  margin: 0 auto;
}

.quizScoreBoard {
  width: 100%;
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}
.quizScoreBoard .restartButton {
  font-family: "Cinzel Decorative", cursive;
}

.quote h3 {
  font-size: 4rem;
  color: goldenrod;
}

.endingUserName {
  font-size: 4.5rem;
  text-transform: capitalize;
  display: inline;
}

.characterChoiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  background-image: url(../assets/cardBackground.jpg);
  background-size: contain;
  background-position: center;
  border-radius: 15px;
  width: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 2px black);
          filter: drop-shadow(5px 5px 2px black);
}

.imgWrap {
  height: 400px;
  padding: 20px 20px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(5px 10px 10px black);
          filter: drop-shadow(5px 10px 10px black);
}

.imgWrap img {
  height: 400px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
          clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

.imgWrap p {
  margin-top: 20px;
  width: 90%;
  border: black 2px outset;
  color: white;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  background-image: url(../assets/cardBackground.jpg);
  background-size: cover;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: goldenrod 0px 0px 30px 5px;
          box-shadow: goldenrod 0px 0px 30px 5px;
  -webkit-transform: scale(115%);
          transform: scale(115%);
  z-index: 1;
}

.active {
  cursor: pointer;
  -webkit-box-shadow: goldenrod 0px 0px 50px;
          box-shadow: goldenrod 0px 0px 50px;
  -webkit-transform: scale(120%);
          transform: scale(120%);
  z-index: 1;
}

.active p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: goldenrod 0px 0px 10px;
          box-shadow: goldenrod 0px 0px 10px;
  background: goldenrod;
  color: black;
}

.imgWrap:hover p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: goldenrod 0px 0px 10px;
          box-shadow: goldenrod 0px 0px 10px;
  background: goldenrod;
  color: black;
}

.cardTop {
  background-color: transparent;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.incorrectTop {
  background-color: rgba(0, 0, 0, 0.753);
}

.correct {
  border: 10px solid #0aac5b;
  background: rgba(81, 161, 121, 0.11);
}

.incorrect {
  border: 10px solid red;
  background: rgba(116, 3, 3, 0.11);
}

.quizSection {
  padding: 50px;
  display: none;
}

.quizHide {
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quizSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.usernameContainer {
  position: absolute;
  top: -20px;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bannerLogo {
  width: 70px;
  margin-top: -27px;
  -webkit-filter: drop-shadow(0 1px 2px #a17913);
          filter: drop-shadow(0 1px 2px #a17913);
}

#usernameOutput {
  color: goldenrod;
  border-radius: 0px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 2.5rem;
  width: 19%;
  text-align: right;
}

.quizNumber {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.596)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.596));
  font-size: 3.2rem;
  color: goldenrod;
  padding: 10px 30px;
  position: absolute;
  top: -20px;
  right: 1%;
  text-align: left;
}
.quizNumber span {
  font-size: 1.8rem;
  display: inline;
}

.nextButton {
  margin: 20px auto;
}

.quizContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.houseBannerSect {
  background: black;
  min-height: 100vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.houseBannerSect .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.houseBannerSect .wrapper h2 {
  color: #cfcfcf;
  text-transform: capitalize;
  text-align: center;
}
.houseBannerSect .wrapper .houses {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.houseBannerSect .wrapper .houses img {
  width: 180px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 5px 5px #daa520);
          filter: drop-shadow(1px 5px 5px #daa520);
  margin: 5px;
}
.houseBannerSect .wrapper .houses img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  margin: 10px auto;
}

.buttonContainer a {
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.7rem;
  height: 70px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  width: 200px;
  padding: 14px;
  background: radial-gradient(#0b00007e, black), url(../assets/button.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
  border-style: outset;
  -webkit-box-shadow: 0px 15px 10px black;
          box-shadow: 0px 15px 10px black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase;
  border: 2px solid white;
}

.buttonContainer a:hover {
  border-style: inset;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(95%);
          transform: scale(95%);
  color: goldenrod;
  -webkit-box-shadow: 0px 5px 10px black;
          box-shadow: 0px 5px 10px black;
}

.nextBtnMedia {
  width: 50px;
  height: 121px;
  position: absolute;
  top: 30%;
  right: -87px;
  display: none;
  z-index: 30;
}

header {
  height: 40vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.733)), to(rgba(153, 58, 58, 0))), radial-gradient(#ffffff0d, black), url(../assets/headerBackground.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.733), rgba(153, 58, 58, 0)), radial-gradient(#ffffff0d, black), url(../assets/headerBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  font-size: 5rem;
}

.credits, .teachers, section {
  background: #c4c4c4;
}

.credits, .teachers, h1, h2 {
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 40px;
}
nav ul {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: goldenrod;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav ul li a:hover {
  color: white;
}

h2 {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
  padding: 20px;
}

.creditContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.credits .card {
  margin: 30px auto;
}

.credits {
  min-height: 50%;
}

.teachers {
  min-height: 50%;
}

#students.creditContainer {
  width: 55%;
}

.teachers h1 {
  color: goldenrod;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

.teachers .characterChoiceContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teachers .card {
  margin: 20px auto;
  background-size: cover;
}

.teachers .imgWrap {
  height: 300px;
  padding: 50px 10px;
}

#teacher .imgWrap img {
  height: 90%;
  width: 100%;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.bar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  width: 35px;
  height: 5px;
  margin: 5px auto;
  background-color: goldenrod;
  border-radius: 10px;
}

.historyPage {
  background: #c4c4c4;
}
.historyPage nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 40px;
}
.historyPage nav ul {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.historyPage nav ul li {
  list-style: none;
}
.historyPage nav ul li a {
  text-decoration: none;
  color: goldenrod;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.historyPage nav ul li a:hover {
  color: white;
}
.historyPage header {
  height: 40vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.733)), to(rgba(153, 58, 58, 0))), radial-gradient(#ffffff0d, black), url(../assets/headerBackground.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.733), rgba(153, 58, 58, 0)), radial-gradient(#ffffff0d, black), url(../assets/headerBackground.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.historyPage header h1 {
  font-size: 5rem;
}
.historyPage .charactersSection {
  padding: 10px 0;
}
.historyPage .charactersSection .sortHldr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 80%;
  margin: 20px auto;
}
.historyPage .charactersSection .sortBtnCntr {
  position: relative;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 200px;
}
.historyPage .charactersSection .sortBtn {
  height: 50px;
  font-size: 2rem;
}
.historyPage .charactersSection .dropDownMenu {
  position: absolute;
  color: white;
  text-align: center;
  background: #1a1a1a;
  width: 200px;
  -webkit-box-shadow: 0px 15px 10px black;
          box-shadow: 0px 15px 10px black;
  top: 55px;
  right: 5px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 50;
}
.historyPage .charactersSection .dropDownMenu a {
  color: white;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.historyPage .charactersSection .dropDownMenu a:hover, .historyPage .charactersSection .dropDownMenu a:focus {
  color: goldenrod;
  border: 1px solid goldenrod;
}
.historyPage .charactersSection .sortBtnCntr:hover .dropDownMenu, .historyPage .charactersSection .sortBtnCntr:focus .dropDownMenu {
  height: 200px;
  overflow: visible;
}
.historyPage .charactersArray {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.historyPage .charactersArray .myCard {
  width: 23%;
  margin: 5px;
  height: 310px;
  padding: 5px;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.historyPage .charactersArray .myCard .cardTop {
  background-color: #1d1d1dda;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.historyPage .charactersArray .myCard .cardTop p {
  font-size: 2.1rem;
  margin: 5px auto;
}
.historyPage .charactersArray .myCard .cardTop .tagName {
  font-size: 3.2rem;
  color: goldenrod;
}
.historyPage .charactersArray .myCard img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 3px solid transparent;
}
.historyPage .charactersArray .myCard:hover .cardTop, .historyPage .charactersArray .myCard:focus .cardTop {
  opacity: 1;
}
.historyPage .profileModalWindow {
  background-color: rgba(39, 39, 39, 0.719);
  position: sticky;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.historyPage .profileModalWindow .profileModal {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 60px 30px;
  position: relative;
  overflow: auto;
}
.historyPage .profileModalWindow .profileModal .characterDetail {
  width: 60%;
  margin: 0 auto;
}
.historyPage .profileModalWindow .profileModal .characterDetail h3 {
  font-size: 3rem;
  margin: 0px 0 20px 0;
  text-align: left;
}
.historyPage .profileModalWindow .profileModal .characterDetail p {
  margin: 10px 0;
}
.historyPage .profileModalWindow .profileModal .characterDetail div i {
  font-size: 2.7rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.historyPage .profileModalWindow .profileModal .characterDetail div i:hover, .historyPage .profileModalWindow .profileModal .characterDetail div i:focus {
  color: goldenrod;
}
.historyPage .profileModalWindow .profileModal .characterDetail span {
  font-weight: bolder;
  display: inline;
  margin-right: 5px;
}
.historyPage .profileModalWindow .profileModal img {
  width: 35%;
  height: 364px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.historyPage .profileModalWindow .profileModal div ul {
  margin: 0;
}
.historyPage .profileModalWindow .profileModal li {
  font-family: "Playfair Display", serif;
  list-style: circle;
}

@media (max-width: 1050px) {
  .historyPage .charactersArray {
    width: 90%;
  }
  .historyPage .charactersArray .myCard {
    width: 31%;
    height: 280px;
  }
  .historyPage .charactersArray .myCard img {
    height: 270px;
  }
}
@media (max-width: 857px) {
  .historyPage .hamburgerMenu {
    display: block;
  }
  .historyPage .hamburgerMenu.active2 .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-13px);
            transform: rotate(45deg) translate(-13px);
  }
  .historyPage .hamburgerMenu.active2 .bar:nth-child(2) {
    -webkit-transform: translatex(-30px);
            transform: translatex(-30px);
    background: transparent;
  }
  .historyPage .hamburgerMenu.active2 .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-15px);
            transform: rotate(-45deg) translate(-15px);
  }
  .historyPage nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .historyPage .navMenu {
    position: absolute;
    top: 0%;
    right: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 50px 0;
    -webkit-transform: scale(0%);
            transform: scale(0%);
    background-color: rgba(0, 0, 0, 0.918);
  }
  .historyPage .navMenu li {
    margin: 20px auto;
  }
  .historyPage .navMenu.active2 {
    display: block;
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .historyPage a {
    text-shadow: 1px 1px black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .historyPage a:hover {
    color: white;
  }
}
@media (max-width: 650px) {
  .historyPage .charactersArray .myCard {
    width: 48%;
    height: 273px;
  }
  .historyPage .charactersArray .myCard img {
    height: 262px;
  }
  .historyPage .profileModalWindow .profileModal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .historyPage .profileModalWindow .profileModal .characterDetail, .historyPage .profileModalWindow .profileModal img {
    width: 100%;
  }
}
@media (max-width: 571px) {
  .historyPage .charactersArray .myCard {
    width: 29%;
    height: 171px;
  }
  .historyPage .charactersArray .myCard .cardTop p {
    font-size: 1.8;
  }
  .historyPage .charactersArray .myCard .cardTop .tagName {
    font-size: 2.2rem;
  }
  .historyPage .charactersArray .myCard img {
    height: 160px;
  }
}
@media (max-width: 400px) {
  .historyPage header h1 {
    margin-top: 10px;
    font-size: 3rem;
  }
  .historyPage .charactersArray .myCard {
    width: 44%;
  }
  .historyPage .charactersSection .sortBtn {
    height: 40px;
    font-size: 1.6rem;
    width: 123px;
  }
}
@media (max-width: 1374px) {
  .characterChoiceContainer {
    margin: 0 auto;
  }

  .card {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .card {
    width: 220px;
  }
  .card .imgWrap {
    height: 370px;
  }
}
@media (max-width: 1050px) {
  .quizContainer {
    width: 80%;
    margin: 0% auto;
  }

  .quote p {
    font-size: 2.5rem;
  }
  .quote div {
    min-height: 120px;
  }

  .card {
    width: 262px;
    margin: 10px 0px;
  }
  .card .imgWrap {
    height: 320px;
  }

  .buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    margin: 10px auto;
  }

  .nextBtnMedia {
    display: block;
  }

  .nextButton {
    display: none;
  }
}
@media (max-width: 857px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .hamburgerMenu {
    display: block;
  }

  .hamburgerMenu.active2 .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-13px);
            transform: rotate(45deg) translate(-13px);
  }

  .hamburgerMenu.active2 .bar:nth-child(2) {
    -webkit-transform: translatex(-30px);
            transform: translatex(-30px);
    background: transparent;
  }

  .hamburgerMenu.active2 .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-15px);
            transform: rotate(-45deg) translate(-15px);
  }

  .navMenu {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.918);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 50px 0;
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }

  .navMenu li {
    margin: 20px auto;
    text-align: center;
  }

  .navMenu.active2 {
    display: block;
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  a {
    text-shadow: 1px 1px black;
  }
}
@media (max-width: 850px) {
  .usernameContainer {
    top: -21px;
    left: -6%;
  }

  .bannerLogo {
    width: 60px;
  }

  .quizNumber {
    right: -7%;
  }
}
@media (max-width: 807px) {
  .nextBtnMedia {
    top: 43%;
    right: -21px;
  }

  .quizContainer {
    width: 100%;
    margin: 0% auto;
  }

  .card {
    width: 225px;
    margin: 10px 0px;
  }
  .card .imgWrap {
    height: 309px;
  }
  .card .imgWrap p {
    font-size: 1.6rem;
  }

  .houseBannerSect .wrapper .houses {
    width: 90%;
  }
  .houseBannerSect .wrapper .houses img {
    width: 143px;
  }
}
@media (max-width: 650px) {
  .quote p {
    font-size: 2rem;
  }
  .quote div {
    min-height: 100px;
  }

  .card {
    width: 210px;
    margin: 10px 0px;
  }
  .card .imgWrap {
    height: 300px;
  }
  .card .imgWrap p {
    font-size: 1.6rem;
  }

  .nextButton {
    margin: 39px auto;
  }

  .correct {
    border: 5px solid #00fa7d;
  }

  .incorrect {
    border: 5px solid red;
  }

  .houseBannerSect .wrapper .houses img {
    width: 113px;
  }

  .buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    margin: 10px auto;
  }
}
@media (max-width: 600px) {
  form {
    width: 74%;
  }

  h1 {
    font-size: 5rem;
  }

  .usernameContainer {
    top: -28px;
    left: -12%;
  }

  #usernameOutput {
    width: 32%;
    font-size: 1.8rem;
  }

  .bannerLogo {
    width: 54px;
  }

  .quizNumber {
    right: -9%;
    top: -44px;
  }

  .characterChoiceContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card {
    width: 88%;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card .imgWrap {
    width: 100%;
    height: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card .imgWrap img {
    height: 111px;
    width: 120px;
    margin-right: 18px;
    -o-object-position: top;
       object-position: top;
  }
  .card .imgWrap p {
    width: 205px;
    font-size: 2rem;
    height: 59px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
  }

  .nextBtnMedia {
    right: -34px;
  }

  #students.creditContainer {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 4rem;
  }
  header form {
    width: 80%;
  }
  header form input[type=text] {
    padding: 15px;
    margin: 20px auto;
    font-size: 1.8rem;
  }

  button {
    width: 160px;
    height: 62px;
    padding: 8px;
    border-radius: 295px;
    font-size: 2rem;
  }

  .restartButton {
    width: 235px;
    height: 64px;
    padding: 15px 35px;
    margin: 10px auto;
  }

  .buttonContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buttonContainer a {
    height: 60px;
    width: 197px;
    padding: 15px;
    margin: 10px auto;
    border: 1px solid;
  }

  .quizSection {
    padding: 50px 20px;
  }

  .usernameContainer {
    top: -28px;
    left: 0%;
  }

  #usernameOutput {
    width: 32%;
    font-size: 1.8rem;
  }

  .characterChoiceContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card {
    width: 90%;
    margin: 10px auto;
    background-position: center;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card .imgWrap {
    width: 100%;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card .imgWrap img {
    height: 100px;
    width: 100px;
    margin-right: 18px;
  }
  .card .imgWrap p {
    width: 187px;
    font-size: 1.8rem;
    margin: 0 auto;
    padding-top: 10px;
  }

  .quizNumber {
    right: -6%;
  }

  .characterChoiceContainer p, footer p {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  header h1 {
    font-size: 3rem;
  }

  form {
    width: 100%;
  }
  form input[type=text] {
    padding: 15px;
    margin: 20px auto;
    font-size: 1.8rem;
  }

  button {
    width: 160px;
    height: 62px;
    padding: 8px;
    border-radius: 295px;
    font-size: 2rem;
  }

  .usernameContainer {
    top: -36px;
    font-size: 1.7rem;
  }

  .houseBannerSect .wrapper .houses img {
    width: 82px;
  }

  .quizSection {
    padding: 50px 0px;
  }

  .quizContainer {
    width: 95%;
  }

  .quizNumber {
    font-size: 2.5rem;
  }

  .characterChoiceContainer {
    -ms-flex-line-pack: baseline;
        align-content: baseline;
  }

  .nextBtnMedia {
    right: -5px;
    width: 35px;
  }

  .card {
    width: 85%;
    margin-left: 5px;
  }
  .card .imgWrap {
    height: 75px;
  }
  .card .imgWrap p {
    font-size: 1.4rem;
  }
  .card .imgWrap img {
    height: 80px;
    width: 70px;
  }

  .characterChoiceContainer p, footer p {
    font-size: 1.2rem;
  }
}
html {
  scroll-behavior: smooth;
}