html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body, p {
  font-size: 1.8rem;
}

h1 {
  font-family: "Cinzel", serif;
}

p {
  font-family: "Playfair Display", serif;
}

button {
  font-family: "Cinzel Decorative", cursive;
}

h1 {
  font-size: 7rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
}

.quote {
  line-height: 1.6;
  text-shadow: 2px 1px black;
}

.characterChoiceContainer p {
  font-size: 2rem;
}

.quote p, button {
  font-size: 3rem;
}

h1, header, p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  background-image: radial-gradient(#ffffff0d, black), url(../assets/newBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
}

header {
  min-height: 100vh;
  background-image: radial-gradient(#ffffff0d, black), url(../assets/headerBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px black;
  width: 200px;
  height: 80px;
  padding: 10px;
  background: radial-gradient(#0b00007e, black), url(../assets/button.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 300px;
  border-style: outset;
  -webkit-box-shadow: 0px 15px 10px black;
          box-shadow: 0px 15px 10px black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  border-style: inset;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(95%);
          transform: scale(95%);
  color: goldenrod;
  -webkit-box-shadow: 0px 5px 10px black;
          box-shadow: 0px 5px 10px black;
}

header .wrapper {
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  color: white;
  text-shadow: 3px 3px black;
}

header {
  text-align: center;
}

label {
  display: block;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#usernameOutput {
  position: absolute;
  left: 0%;
}

span {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.quote {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.quote p {
  width: 80%;
  margin: 0 auto;
}

.characterChoiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  background-image: url(../assets/cardBackground.jpg);
  border-radius: 15px;
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.imgWrap {
  height: 500px;
  padding: 20px 20px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 2px 7px black);
          filter: drop-shadow(0px 2px 7px black);
  -webkit-filter: drop-shadow(5px 10px 10px black);
          filter: drop-shadow(5px 10px 10px black);
}

.imgWrap img {
  height: 400px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
          clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

.imgWrap p {
  margin-top: 20px;
  width: 90%;
  border: black 2px outset;
  color: white;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: goldenrod 0px 0px 30px 5px;
          box-shadow: goldenrod 0px 0px 30px 5px;
  -webkit-transform: scale(115%);
          transform: scale(115%);
  z-index: 1;
}

.active {
  cursor: pointer;
  -webkit-box-shadow: goldenrod 0px 0px 50px;
          box-shadow: goldenrod 0px 0px 50px;
  -webkit-transform: scale(120%);
          transform: scale(120%);
  z-index: 1;
}

.active p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: goldenrod 0px 0px 10px;
          box-shadow: goldenrod 0px 0px 10px;
  background: goldenrod;
  color: black;
}

.imgWrap:hover p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: goldenrod 0px 0px 10px;
          box-shadow: goldenrod 0px 0px 10px;
  background: goldenrod;
  color: black;
}

.card {
  position: relative;
}

.cardTop {
  background-color: transparent;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.correct {
  border: 10px solid #00fa7d;
  background: rgba(0, 250, 125, 0.271);
}

.incorrect {
  border: 10px solid red;
  background: rgba(255, 0, 0, 0.2);
}

#quizSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nextButton {
  margin: 40px auto;
}

@media (max-width: 1374px) {
  .characterChoiceContainer {
    margin: 0 auto;
  }

  .card {
    width: 250px;
  }
}